:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    padding: 9rem;
    font-family: "League Spartan", sans-serif;
    color: var(--Very-Dark-Magenta);
    display: grid;
    grid-template-areas: 
    "header rank"
    "cards cards";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 15vw;
    row-gap: 4rem;
    width: 100vw;
    height: 100vh;
}




/* SECTION HEADER*/

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    

}
h1 {
    font-size: 3.3rem;
}
.parrafo-header {
    font-size: 18px;
    line-height: 24px;
}
/* SECTION RANK */

.rank{
    
    grid-area: rank;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    
}

.rated{
    background-color: var(--Light-Grayish-Magenta);
    background-size: 50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: .6vw;
    font-weight: 600;
    width: 80%;
}
.rated-2{
    align-self: center;
}
.rated-3{
    align-self: end;
}
.estrellas {
    display: flex;
    gap: .7vw; 
    overflow: hidden; 
    padding: clamp(10px, 8vw, 20px)
    
}
.parrafo-rank {
    display: flex;
    flex-shrink: 9;
}

.estrellas img {

    width: 100%; 
    height: auto; 
    
}


/* SECTION CARDS */
.cards {
    grid-area: cards;
    display: flex;
    gap: 2vw;
    
}
.card {
    background-color: var(--Very-Dark-Magenta); 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    
}
.card-irene {
    transform: translateY(1rem);
}
.card-anne {
    transform: translateY(2rem);
}

.name-title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
h2 {
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
}
.title {
    color: var(--Soft-Pink);
    
}
.card-parrafo {
    color: var(--White);
    line-height: 1.4rem;
    font-size: 1.1rem;
    
}

@media (max-width: 1090px) {
    body {
     padding: min(max(5px, 6vw), 90px);
     grid-template-areas: 
     "header"
     "rank"
     "cards"
     ;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     gap: 2rem;
     height: 100%;
    }
   h1 {
     text-align: center;
   }
    .cards {
     flex-direction: column;
    }
    .rated {
    gap: 0;
     width: 100%;
     flex: block;
     flex-direction: column;
    }
    .rated-2{
     align-self:flex-start;
     
 }
 .rated-3{
     align-self: end;
 }
 .estrellas {
    padding: .9rem;
    gap: 2vw;
 }
 
 .parrafo-rank {
    padding-bottom: .6rem;
 }
 .parrafo-header {
    text-align: center;
 }
 }